{% extends 'layouts/base.html' %}

{% block content %}
<style>
    body {
        background: linear-gradient(to right, #6a11cb, #2575fc); /* Fondo degradado */
        color: white; /* Color del texto */
    }

    .containerb {
        margin: 80px 600px; /* Espaciado superior */
        background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para el contenedor */
        padding: 30px; /* Espaciado interno */
        border-radius: 10px; /* Bordes redondeados */
    }

    .btn-primary {
        background-color: #7c27fc; /* Color púrpura para el botón */
        border-color: #7c27fc; /* Bordes del botón */
    }

    .btn-secondary {
        background-color: #6c757d; /* Color del botón "Volver" */
        border-color: #6c757d; /* Bordes del botón "Volver" */
    }

    .btn-secondary:hover {
        background-color: #5a6268; /* Color más oscuro en hover para el botón "Volver" */
    }
</style>

<div class="containerb">
    <h1>Crear Proyecto</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <div class="mt-3">
        <a class="btn btn-success mt-3" href="{% url 'home' %}">Volver a la lista de proyectos</a>  <!-- Cambia 'home' según tu ruta -->
    </div>
</div>
{% endblock %}
