{% extends 'layouts/base.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        body {
            background: linear-gradient(to right, #6a11cb, #2575fc); /* Degradado de fondo */
            color: white; /* Color de texto para que sea visible sobre el fondo */
        }
        .inicio {
            margin-top: 100px; /* Espacio superior para centrar mejor el contenido */
        }
        .card {
            background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente para las tarjetas */
            height: 100%; /* Hace que todas las tarjetas sean del mismo tamaño */
            display: flex;
            flex-direction: column;
        }
        .card-img-top {
            max-height: 200px; /* Controla la altura máxima de la imagen */
            object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
        }
        .card-body {
            flex-grow: 1; /* Hace que el cuerpo de la tarjeta ocupe el espacio disponible */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .card-title, .card-text {
            color: black; /* Cambia el color del título y descripción de la tarjeta a negro */
        }
        .btn-primary {
            background-color: #ff4081; /* Color personalizado para el botón de descargar */
            border: none;
        }
        .btn-success {
            background-color: #28a745; /* Color personalizado para el botón de proyectos */
            border: none;
        }
        .inicio h3 {
            text-align: justify; /* Justifica el texto del h3 */
        }
    </style>

    <div class="container text-center mt-5">
        <div class="inicio">
            <h1 class="display-4">I am <strong>Alex Chica</strong></h1>
            <h3 class="mb-4">Soy un Desarrollador FullStack especializado en Python, apasionado por la creación de soluciones digitales que transforman ideas en realidades. Con una sólida formación en desarrollo web y una experiencia diversa en proyectos, me destaco en el diseño y la implementación de aplicaciones interactivas y escalables. Mi enfoque se basa en la excelencia técnica, la colaboración efectiva y el aprendizaje continuo, siempre buscando mejorar mis habilidades y adoptar nuevas tecnologías. Estoy aquí para llevar tus proyectos al siguiente nivel, fusionando creatividad con lógica para lograr resultados excepcionales.</h3>
            {% load static %}
            <a class="btn btn-primary btn-lg" href="{% static 'curriculum/cv.pdf' %}" target="_blank">Descargar CV <i class="fas fa-download"></i></a>
        </div>
    </div>

    <!-- Contenedor de los proyectos -->
    <div class="container mt-5">
        <h2 class="text-center mb-4">Mis Proyectos</h2>
        <div class="row">
            {% for i in projects %}
                <div class="col-md-4 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="{{ i.imagen.url }}" class="card-img-top" alt="{{ i.titulo }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ i.titulo }}</h5>
                            <p class="card-text">Descripción: {{ i.descripcion }}</p>
                            <a href="{{ i.url }}" target="_blank" class="btn btn-success mt-3">Ver Proyecto</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
